.lower_header{
    background-color: #232f3e;
    color: white;
}

.lower_header ul{
    display: flex;
    list-style: none;
    gap: 5px;
}
.lower_header ul li{
    padding: 8px;
    cursor: pointer;
}

.lower_header ul li:first-child{
    display: flex;
    gap: 2px;
    align-items: center ;
}

.lower_header ul li:hover{
    border:1px solid #fff;
    border-radius: 3px;
  }

  @media (max-width: 576px) {
    
   .lower_header{
      display: none;
    }
    
  }