body{
    width: 100%;
}
.carouselImg{
    margin-top: 0px !important;
    position: relative;
}
.carouselImg::before{
    content: "";
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 300%;
  
}